<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.k1a2.schoolcalculator"
    android:versionCode="23">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.intent.action.MEDIA_MOUNTED" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_appicon_real"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_appicon_real_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--<receiver android:name=".ChartViewWidget">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />-->
            <!--</intent-filter>-->

            <!--<meta-data-->
                <!--android:name="android.appwidget.provider"-->
                <!--android:resource="@xml/chart_view_widget_info" />-->
        <!--</receiver>-->

        <activity
            android:name=".activity.GoalActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.AnalyzeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.ScoreEditActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.PreferenceActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.ThirdPartyFileListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7873521316289922~4072143239"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider" />

        </provider>

    </application>

</manifest>